body {
    background-color: black;
}

#begroeting {
    color: whitesmoke;
    font-size: 50px;
}

.intro {
    width: 100%;
    height: 100%;
    text-align: center;
}
#gebruiksnaam {
    width: 40%;
    height: 30px;
    border-radius: 20px;
    border-color: white;
    border-style: dotted;
    text-align: center;

}