body {
    background-color: black;
    margin: 0;
}


.game {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 50%;
}

#start {
    width: 100px;
    height: 30px;
    border-radius: 2px;
    background-color: white;
    color: black;
}

#start:hover {
    background-color: black;
    color: white;
}

.keuzes {
    color: white;
}


.steen {
    float: right;
    width: 128px;
    height: 119px;
}

.papier {
    float: right;
    width: 128px;
    height: 119px;
}