body {
    background-color: black;
    margin: 0;
}

.start {
    margin-left: 45%;
    margin-top: 0px;
}

#start {
    width: 100px;
    height: 30px;
    border-radius: 2px;
    background-color: white;
    color: black;
}

#start:hover {
    background-color: black;
    color: white;
}

.keuzes {
    color: white;
    border-style: dotted;
    border-color: white;
}


.steen {
    text-align: center;
    float: left;
    width: 200px;
    height: 300px;
    border-style: dotted;
    border-color: white;
}

.papier {
    text-align: center;
    float: left;
    width: 200px;
    height: 300px;
    border-style: dotted;
    border-color: white;
}

.schaar {
    text-align: center;
    float: left;
    width: 200px;
    height: 300px;
    border-style: dotted;
    border-color: white;
}

.score {
    float: right;
    color: white;
}

.de_game {
    border-style: dotted;
    border-color: white;
    color: white;
    text-align: center;
    font-size: 50px;
    height: 250px;
    width: 30%;
    margin-left: 35%;
}

.vs {
    color: white;
}

.je_keuze {
    color: white;
}